p.test{
	font-family: sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: rgba(#07a8f7,.6);
	padding: 300px 0;
	text-align: center;
	span{
		background: #07a8f7;
		color: #fff;
	}
}
